<ion-view view-title="Contact">
    <ion-content class="im-wrapper">
      <header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:black !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">Follow Me</h3>
          
  </div>
</header>


 <div class="list ">

        <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/Web.jpg">
                    <h2><b>Mysite</b></h2>
                  <div class="item-text-wrap">  <p><b>http://allaboutdivyashree.appspot.com</b></p></div>
                </a>
            <a  ui-sref="#" class="item item-avatar item-icon-right ">
                    
                    <img src="img/email.jpg">
                    <h2><b>Email</b></h2>
                 <div class="item-text-wrap">  <p><b>divyakkshree@gmail.com</b></p></div>
                    
                </a>
               <a  ui-sref="#"  class="item item-avatar item-icon-right ">
                    <img src="img/Linkedin.jpg">
                    <h2><b>Linkedin</b></h2>
                    <div class="item-text-wrap"><p><b>https://in.linkedin.com/pub/k-k-divya-shree/102/97/ab4</b></p></div>
                </a>
                <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/Google Plus.jpg">
                    <h2><b>Google Plus</b></h2>
                    <div class="item-text-wrap"><p><b>http://plus.google.com/u/0/</b></p></div>
                </a>
                 <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/twitter.jpg">
                    <h2><b>Twitter</b></h2>
                 <div class="item-text-wrap">    <p><b>https://twitter.com/divyakubendran</b></p></div>
                </a>
				 <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/face1.jpg">
                    <h2><b>Facebook</b></h2>
                 <div class="item-text-wrap">    <p><b>https://www.facebook/divyakkshree</b></p></div>
                </a>
				 <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/git.png">
                    <h2><b>Github</b></h2>
                 <div class="item-text-wrap">    <p><b>https://github.com/Divyakkshree</b></p></div>
                </a>
				 <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/word.png">
                    <h2><b>Wordpress</b></h2>
                 <div class="item-text-wrap">    <p><b>https://divyakkshree.wordpress.com</b></p></div>
                </a>
            </div>
			
			
			
<br><br>
    </ion-content>
</ion-view>
